---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const { title, description, tags, heroImage, heroAlt, link } = project.data;
---

<li class="">
  <a href={link} rel="noreferrer" target="_blank">
    <article class="flex flex-col justify-between">
      <div class="h-52 overflow-hidden relative">
        <Image
          src={heroImage}
          alt={heroAlt}
          class="absolute center w-full scale-105"
        />
      </div>
      <div class="p-4 h-36">
        <h2 class="text-lg font-medium">{title}</h2>
        <p>{description}</p>
      </div>
    </article>
  </a>
</li>

<style>
  article {
    @apply h-72 hover:-translate-y-1 transition-transform border border-neutral-700 rounded-md overflow-hidden;
  }

  .center {
    @apply left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2;
  }
</style>
